# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
# prep code block
import pandas as pd
f1_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
f2_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
f3_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

In [24]:
# f1 columns: 'Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value','Income', 'Monthly Premium Auto', 'Number of Open Complaints',
#             'Policy Type', 'Vehicle Class', 'Total Claim Amount'

# f2 columns: 'Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
#             'Total Claim Amount', 'Policy Type', 'Vehicle Class'

# f3 columns: 'Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
#             'Policy Type', 'Total Claim Amount', 'Vehicle Class'

# each have 11 columns
# Can index by 'Customer' -> leftmost in all dfs
# f1                           f2                         f3
# Customer                     Customer                   Customer
# ST                           ST                         State
# GENDER                       GENDER                     Customer Lifetime Value 
# Education                    Education                  Education
# Customer Lifetime Value      Customer Lifetime Value    Gender
# Income                       Income                     Income
# Monthly Premium Auto         Monthly Premium Auto       Monthly Premium Auto
# Number of Open Complaints    Number of Open Complaints  Number of Open Complaints
# Policy Type                  Total Claim Amount         Policy Type
# Vehicle Class                Policy Type                Total Claim Amount
# Total Claim Amount           Vehicle Class              Vehicle Class

# just for reference 
df_list = ['f1_df', 'f2_df', 'f3_df']
three_var_sum = lambda x, y, z: x + y + z
total_df_rows = three_var_sum(f1_df.shape[0],f2_df.shape[0],f3_df.shape[0])
print(total_df_rows)

12074

In [29]:
# column names should be lower case

def lower_casify(insurance_df):
    insurance_df.columns = insurance_df.columns.str.lower()
    print(insurance_df.columns)
    return insurance_df

lower_casify(f1_df)
lower_casify(f2_df)
lower_casify(f3_df)

Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'vehicle class', 'total claim amount'],
      dtype='object')
Index(['customer', 'st', 'gender', 'education', 'customer lifetime value',
       'income', 'monthly premium auto', 'number of open complaints',
       'total claim amount', 'policy type', 'vehicle class'],
      dtype='object')
Index(['customer', 'state', 'customer lifetime value', 'education', 'gender',
       'income', 'monthly premium auto', 'number of open complaints',
       'policy type', 'total claim amount', 'vehicle class'],
      dtype='object')

,customer,state,customer lifetime value,education,gender,income,monthly premium auto,number of open complaints,policy type,total claim amount,vehicle class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [30]:
# white spaces in column names replaced by _

def underscorify(insurance_df):
    insurance_df.columns = insurance_df.columns.str.replace(" ","_")
    print(insurance_df.columns)
    return insurance_df

underscorify(f1_df)
underscorify(f2_df)
underscorify(f3_df)

Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')
Index(['customer', 'st', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')
Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

,customer,state,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,total_claim_amount,vehicle_class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [31]:
# replace st with state
f1_df = f1_df.rename(columns={'st': 'state'})
f1_df.columns

f2_df = f2_df.rename(columns={'st': 'state'})
f2_df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object')

In [33]:
# concat the dfs together now that the column names are clean

concat_df = pd.concat([f1_df, f2_df, f3_df], axis=0).reset_index(drop=True)

In [36]:
# checking the row numbers of the concat dfs against the total number of rows pre-concat; it matches!

concat_df.shape

(12074, 11)

Now that I have a large, single dataframe =]  
On to cleaning:

In [37]:
# Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female",
# which need to be standardized, for example, to "M" and "F"
gender_mapping = {'Male': 'M', 'female': 'F','Femal': 'F'}
concat_df['gender'] = concat_df['gender'].map(lambda x: gender_mapping.get(x, x))

concat_df['gender'].unique()

array([nan, 'F', 'M'], dtype=object)

In [38]:
# State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
state_mapping = {"AZ": "Arizona", "Cali": "California", "WA": "Washington"}
concat_df['state'] = concat_df['state'].map(lambda x: state_mapping.get(x, x))

concat_df['state'].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', nan],
      dtype=object)

In [39]:
# In education, "Bachelors" could be replaced by "Bachelor"
edu_mapping = {'Bachelors':'Bachelor'}
concat_df['education'] = concat_df['education'].map(lambda x: edu_mapping.get(x, x))

concat_df['education'].unique()

array(['Master', 'Bachelor', 'High School or Below', 'College', 'Doctor',
       nan], dtype=object)

In [40]:
# In Customer Lifetime Value, delete the % character
concat_df["customer_lifetime_value"] = concat_df["customer_lifetime_value"].str.replace("%","")

concat_df["customer_lifetime_value"]

0               NaN
1         697953.59
2        1288743.17
3         764586.18
4         536307.65
            ...
12069           NaN
12070           NaN
12071           NaN
12072           NaN
12073           NaN
Name: customer_lifetime_value, Length: 12074, dtype: object

In [41]:
# In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
car_mapping = {"Sports Car":"Luxury", "Luxury SUV":"Luxury", "Luxury Car":"Luxury"}
concat_df['vehicle_class'] = concat_df['vehicle_class'].map(lambda x: car_mapping.get(x, x))

concat_df['vehicle_class'].unique()

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury', nan],
      dtype=object)

In [42]:
# Customer lifetime value should be numeric
concat_df['customer_lifetime_value'] = concat_df['customer_lifetime_value'].astype(float)
concat_df['customer_lifetime_value']

0               NaN
1         697953.59
2        1288743.17
3         764586.18
4         536307.65
            ...
12069           NaN
12070           NaN
12071           NaN
12072           NaN
12073           NaN
Name: customer_lifetime_value, Length: 12074, dtype: float64

In [43]:
# Number of open complaints has an incorrect format
concat_df['number_of_open_complaints'].unique()

concat_df['number_of_open_complaints'] = concat_df['number_of_open_complaints'].str.split("/").str[1].astype(float)
# due to numpy, NaN can't be cast as integer (so if you're missing a value you can't use integer)

Now on to dealing with null values / applying null value strategy:

In [44]:
concat_df.isna().any(axis=0)

customer                     True
state                        True
gender                       True
education                    True
customer_lifetime_value      True
income                       True
monthly_premium_auto         True
number_of_open_complaints    True
policy_type                  True
vehicle_class                True
total_claim_amount           True
dtype: bool

In [45]:
# 'customer' -> drop rows with null
concat_df = concat_df.dropna(subset='customer')

In [47]:
# 'state' -> most frequent
concat_df['state'] = concat_df['state'].fillna(concat_df['state'].mode())

In [48]:
# 'gender' -> most frequent
concat_df['gender'] = concat_df['gender'].fillna(concat_df['gender'].mode().iloc[0])

In [49]:
# 'education' -> most frequent
concat_df['education'] = concat_df['education'].fillna(concat_df['education'].mode())

In [50]:
# 'customer_lifetime_value' -> median
concat_df['customer_lifetime_value'] = concat_df['customer_lifetime_value'].fillna(concat_df['customer_lifetime_value'].median())

In [51]:
# 'income' -> median
concat_df['income'] = concat_df['income'].fillna(concat_df['income'].median())

In [52]:
# 'monthly_premium_auto' -> median
concat_df['monthly_premium_auto'] = concat_df['monthly_premium_auto'].fillna(concat_df['monthly_premium_auto'].median())

In [54]:
# 'number_of_open_complaints' -> default to 0
concat_df['number_of_open_complaints'] = concat_df['number_of_open_complaints'].fillna(0)

In [55]:
# 'policy_type' -> default policy type or most frequent
concat_df['policy_type'] = concat_df['policy_type'].fillna(concat_df['policy_type'].mode())

In [56]:
# 'vehicle_class' -> most frequent
concat_df['vehicle_class'] = concat_df['vehicle_class'].fillna(concat_df['vehicle_class'].mode())

In [57]:
# 'total_claim_amount' -> median
concat_df['total_claim_amount'] = concat_df['total_claim_amount'].fillna(concat_df['total_claim_amount'].median())

In [58]:
concat_df.isna().any(axis=0)

customer                     False
state                        False
gender                       False
education                    False
customer_lifetime_value      False
income                       False
monthly_premium_auto         False
number_of_open_complaints    False
policy_type                  False
vehicle_class                False
total_claim_amount           False
dtype: bool

In [60]:
# checking for duplicate rows

concat_df.duplicated().any(axis=0)

True

In [101]:
concat_df.shape

(9131, 11)

In [62]:
# there are only 6 duplicates in a df of over 12k rows

concat_df.duplicated().sum()

6

In [63]:
# duplicate rows here indicate that a few (or a single) customer(s) info was added repeatedly
# we can drop confidently those duplicates

concat_df = concat_df.drop_duplicates()

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [64]:
c2_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")

Exploring the challenge 2 df

In [104]:
pd.set_option('display.max_columns', None)
c2_df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,Suburban,Married,61,7.000000,52,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,Suburban,Single,64,3.000000,26,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,Single,100,34.000000,31,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,Suburban,Single,97,10.000000,3,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,Suburban,Married,117,15.149071,31,0.384256,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

In [66]:
c2_df.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [68]:
c2_df.shape

(10910, 27)

In [90]:
# check out how clean the values are in the columns

c2_df_colnames = c2_df.columns.tolist()

def uni_check(lv_df, col_name):
    uni_values = lv_df[col_name].unique()
    print(f"Unique values in {col_name}: {uni_values}")
    print(" ")

In [91]:
for col in c2_df_colnames:
    uni_check(c2_df, col)

Unique values in unnamed:_0: [    0     1     2 ... 10907 10908 10909]

Unique values in customer: ['DK49336' 'KX64629' 'LZ68649' ... 'KX53892' 'TL39050' 'WA60547']

Unique values in state: ['Arizona' 'California' 'Washington' 'Oregon' 'Nevada']

Unique values in customer_lifetime_value: [ 4809.21696   2228.525238 14947.9173   ...  5259.444853 23893.3041
 11971.97765 ]

Unique values in response: ['No' 'Yes']

Unique values in coverage: ['Basic' 'Extended' 'Premium']

Unique values in education: ['College' 'Bachelor' 'High School or Below' 'Doctor' 'Master']

Unique values in effective_to_date: ['2011-02-18' '2011-01-18' '2011-02-10' '2011-01-11' '2011-01-17'
 '2011-02-14' '2011-02-24' '2011-01-19' '2011-01-04' '2011-01-02'
 '2011-02-07' '2011-01-31' '2011-01-26' '2011-02-28' '2011-01-16'
 '2011-02-26' '2011-02-23' '2011-01-15' '2011-02-02' '2011-02-15'
 '2011-01-24' '2011-02-21' '2011-02-22' '2011-01-07' '2011-01-28'
 '2011-02-08' '2011-02-12' '2011-02-20' '2011-01-05' '2011-02-19'
 '2011-01-03' '2011-02-03' '2011-01-22' '2011-01-23' '2011-02-05'
 '2011-02-13' '2011-01-25' '2011-02-16' '2011-02-01' '2011-01-27'
 '2011-01-12' '2011-01-20' '2011-02-06' '2011-02-11' '2011-01-21'
 '2011-01-29' '2011-01-09' '2011-02-09' '2011-02-27' '2011-01-01'
 '2011-02-17' '2011-02-25' '2011-01-13' '2011-01-06' '2011-02-04'
 '2011-01-14' '2011-01-10' '2011-01-08' '2011-01-30']

Unique values in employmentstatus: ['Employed' 'Unemployed' 'Medical Leave' 'Disabled' 'Retired']

Unique values in gender: ['M' 'F']

Unique values in income: [48029     0 22139 ... 61146 39837 64195]

Unique values in location_code: ['Suburban' 'Urban' 'Rural']

Unique values in marital_status: ['Married' 'Single' 'Divorced']

Unique values in monthly_premium_auto: [ 61  64 100  97 117  63 154  85 127  62  99  69 116 114  66  73  94 104
 189  74 121 110 111  72 115 159 101  65  82  71 126  68 199  96  67 125
 249 105  92  78  77  79 223 242  70 102 109 107 119 194 113 106 247  80
  86  81  83 122 253 196 132 139  84 130  93 103 112 222 118  88 182 283
  90 128  89 235 190  76  87 133 153 129  98 148 123  91 211 131 108 187
 214 181 173 252  95 124 137 145 188 143 198 138 245 195 186 170 136 161
 157 141 205 271 192 142 140 134 240 185 244 210 184 202 296 213 273 219
 135 169 155 225 266 215 197 256 212 158 180 166 168 183 162 191 179 150
 146 276 165 239 237 193 229 274 207 295 208 172 217 206 201 171 152 156
 174 238 167 151 144 163 287 209 290 220 228 232 178 177 275 176 281 149
 298 255 216 285 226 160 147 254 164 175 297 234 284 204 218 261 231 248
 286 230 268 203]

Unique values in months_since_last_claim: [ 7.          3.         34.         10.         15.14907074  2.
  8.         35.         33.         19.         13.          5.
 24.         25.          6.         20.         26.         14.
  9.         29.         11.          1.         18.         16.
 30.         12.          4.         22.         31.         21.
 28.         17.         15.         32.         23.         27.
  0.        ]

Unique values in months_since_policy_inception: [52 26 31  3 73 99 45 24  8 29 32 25 28 87 10 74  1 38 58 37  7 80 95 78
 63 27 97 39 11 59 46 62 13 54 51 22 82 91 44 43 76 48 84  6 92 12 61  4
 18 66 70 16 75 34 35 64  9 89  0 60 71 23 55 93  2 67 81 40 57 86 19 72
 69 33 47 42 17 49 21 83 94 30 15 50 53 77 41 90  5 79 56 98 20 88 65 14
 85 96 36 68]

Unique values in number_of_open_complaints: [0.         0.38425611 3.         1.         2.         4.
 5.        ]

Unique values in number_of_policies: [9 1 2 7 4 3 6 8 5]

Unique values in policy_type: ['Corporate Auto' 'Personal Auto' 'Special Auto']

Unique values in policy: ['Corporate L3' 'Personal L3' 'Personal L2' 'Corporate L2' 'Personal L1'
 'Special L1' 'Corporate L1' 'Special L3' 'Special L2']

Unique values in renew_offer_type: ['Offer3' 'Offer4' 'Offer2' 'Offer1']

Unique values in sales_channel: ['Agent' 'Call Center' 'Branch' 'Web']

Unique values in total_claim_amount: [292.8      744.924331 480.       ... 273.018929 381.306996 618.288849]

Unique values in vehicle_class: ['Four-Door Car' 'SUV' 'Two-Door Car' 'Sports Car' 'Luxury Car'
 'Luxury SUV']

Unique values in vehicle_size: ['Medsize' 'Small' 'Large']

Unique values in vehicle_type: ['A']

Unique values in month: [2 1]

In [99]:
# looks like the columns are clean enough to work with as is... the only columns that might give me a problem are
# months_since_last_claim: & number_of_open_complaints cause there's at least one odd variable out in each

c2_df.dtypes

unnamed:_0                         int64
customer                          object
state                             object
customer_lifetime_value          float64
response                          object
coverage                          object
education                         object
effective_to_date                 object
employmentstatus                  object
gender                            object
income                             int64
location_code                     object
marital_status                    object
monthly_premium_auto               int64
months_since_last_claim          float64
months_since_policy_inception      int64
number_of_open_complaints        float64
number_of_policies                 int64
policy_type                       object
policy                            object
renew_offer_type                  object
sales_channel                     object
total_claim_amount               float64
vehicle_class                     object
vehicle_size                      object
vehicle_type                      object
month                              int64
dtype: object

In [102]:
# are there any null values?

c2_df.isna().any(axis=0)

unnamed:_0                       False
customer                         False
state                            False
customer_lifetime_value          False
response                         False
coverage                         False
education                        False
effective_to_date                False
employmentstatus                 False
gender                           False
income                           False
location_code                    False
marital_status                   False
monthly_premium_auto             False
months_since_last_claim          False
months_since_policy_inception    False
number_of_open_complaints        False
number_of_policies               False
policy_type                      False
policy                           False
renew_offer_type                 False
sales_channel                    False
total_claim_amount               False
vehicle_class                    False
vehicle_size                     False
vehicle_type                     False
month                            False
dtype: bool

In [103]:
# are there any duplicate rows?

c2_df.duplicated().any(axis=0)

False

In [100]:
c2_df.describe()

,unnamed:_0,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount,month
count,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000,10910.000000
mean,5454.500000,8018.241094,37536.284785,93.196059,15.149071,48.091934,0.384256,2.979193,434.888330,1.466728
std,3149.590053,6885.081434,30359.195670,34.442532,9.783520,27.940675,0.885589,2.399359,292.180556,0.498915
min,0.000000,1898.007675,0.000000,61.000000,0.000000,0.000000,0.000000,1.000000,0.099007,1.000000
25%,2727.250000,4014.453113,0.000000,68.000000,7.000000,24.000000,0.000000,1.000000,271.082527,1.000000
50%,5454.500000,5771.147235,33813.500000,83.000000,15.000000,48.000000,0.000000,2.000000,382.564630,1.000000
75%,8181.750000,8992.779137,62250.750000,109.000000,23.000000,71.000000,0.384256,4.000000,547.200000,2.000000
max,10909.000000,83325.381190,99981.000000,298.000000,35.000000,99.000000,5.000000,9.000000,2893.239678,2.000000

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [108]:
# revenue columns are:
# monthly_premium_auto -> how much the policy holder(ph) is paying per month
# months_since_policy_inception -> how long the ph has been a client 
# total_claim_amount -> how much the ph has taken out in total

#leaving out b/c including them is more maths than I have time to figure out sadly
# months_since_last_claim -> how many months the ph has paid in w/o taking out
# number_of_policies -> how many policies the ph has....however this is more in the same vein as CLV (so I won't include it) 

# use sales_channel column as my pivot index

Revenue is the amount of gross income produced through sales of products or services. A simple way to solve for revenue is by multiplying the number of sales and the sales price or average service price (Revenue = Sales x Average Price of Service or Sales Price)

In [120]:
# revenue formulation
# we need to calculate the total premium paid  & adjust for claims
# revenue = (monthly_premium_auto * months_since_policy_inception) - total_claim_amount

In [117]:
# create new column containing calculated revenue from each ph and rounded to 2 decimal points

c2_df['rev_col'] = (c2_df['monthly_premium_auto'].round(2) * c2_df['months_since_policy_inception'].round(2)) - c2_df['total_claim_amount'].round(2)

In [119]:
# Check to make sure new column looks good

c2_df.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month,rev_col
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,Suburban,Married,61,7.000000,52,0.000000,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2,2879.20
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,Suburban,Single,64,3.000000,26,0.000000,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1,919.08
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,Suburban,Single,100,34.000000,31,0.000000,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2,2620.00
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,Suburban,Single,97,10.000000,3,0.000000,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1,-193.01
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,Suburban,Married,117,15.149071,31,0.384256,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1,2919.07

In [127]:
pivot_df = pd.pivot_table(c2_df, columns='sales_channel', values=['rev_col'], aggfunc='sum')

In [128]:
pivot_df

sales_channel        Agent       Branch  Call Center         Web
rev_col        16723854.12  12410464.66   8449464.98  6768943.98

According to the data in the dataframe, it appears that the Agent sales channel is the sales channel which brought the most sales in terms of total revenue.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [132]:
pivot2_df = c2_df.pivot_table(index='education',columns='gender', values=['customer_lifetime_value'], aggfunc='sum')

In [153]:
sorted_pivot2_df = pivot2_df.round(2).sort_values(by=('customer_lifetime_value', 'F'), ascending=True)

In [156]:
sorted_pivot2_df

                     customer_lifetime_value
gender                                     F            M
education
Doctor                            1465701.78   1490482.06
Master                            3874600.25   3365559.06
College                          12460107.91  12851725.02
Bachelor                         13386258.11  12110061.83
High School or Below             13793600.12  12680914.19

There appears to be a trend in that the higher the education level, the lower the CLV. The trend follows along both genders roughly equally, with men having a slightly lower CLV at lower education levels.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [166]:
# Your code goes here
c2_df.groupby(['policy_type', 'month'])['number_of_open_complaints'].sum().reset_index()

      policy_type  month  number_of_open_complaints
0  Corporate Auto      1                 443.434952
1  Corporate Auto      2                 385.208135
2   Personal Auto      1                1727.605722
3   Personal Auto      2                1453.684441
4    Special Auto      1                  87.074049
5    Special Auto      2                  95.226817